In [1]:
# Importations
import yfinance as yf
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

In [2]:
# Set timeframe
start_date = "2020-07-1"
end_date = "2025-07-12"

# Getting the btc data
btc = yf.download("BTC-USD", start=start_date, end=end_date)

print("btc type:", type(btc))

[*********************100%***********************]  1 of 1 completed

btc type: <class 'pandas.core.frame.DataFrame'>

In [3]:
btc.head()

Price             Close         High          Low         Open       Volume
Ticker          BTC-USD      BTC-USD      BTC-USD      BTC-USD      BTC-USD
Date
2020-07-01  9228.325195  9309.754883  9104.735352  9145.985352  15971550355
2020-07-02  9123.410156  9274.962891  9036.623047  9231.139648  16338916796
2020-07-03  9087.303711  9202.344727  9058.794922  9124.842773  13078970999
2020-07-04  9132.488281  9183.295898  9053.629883  9084.233398  12290528515
2020-07-05  9073.942383  9162.183594  8977.015625  9126.090820  12903406143

In [4]:
btc.tail()

Price,Close,High,Low,Open,Volume
Ticker,BTC-USD,BTC-USD,BTC-USD,BTC-USD,BTC-USD
Date,,,,,
2025-07-07,108299.851562,109710.250000,107527.054688,109235.328125,45415696597
2025-07-08,108950.273438,109198.968750,107499.554688,108298.226562,44282204127
2025-07-09,111326.554688,111925.375000,108357.679688,108950.273438,57927418065
2025-07-10,115987.203125,116608.781250,110660.750000,111329.195312,95911605728
2025-07-11,117516.992188,118856.476562,115245.687500,115986.234375,86928361085

In [5]:
btc.columns

MultiIndex([( 'Close', 'BTC-USD'),
            (  'High', 'BTC-USD'),
            (   'Low', 'BTC-USD'),
            (  'Open', 'BTC-USD'),
            ('Volume', 'BTC-USD')],
           names=['Price', 'Ticker'])

In [6]:
# Dropping the lower level columns 'tickers, "BTC-USD"'
btc.columns = btc.columns.droplevel(1)
btc.head()

Price             Close         High          Low         Open       Volume
Date
2020-07-01  9228.325195  9309.754883  9104.735352  9145.985352  15971550355
2020-07-02  9123.410156  9274.962891  9036.623047  9231.139648  16338916796
2020-07-03  9087.303711  9202.344727  9058.794922  9124.842773  13078970999
2020-07-04  9132.488281  9183.295898  9053.629883  9084.233398  12290528515
2020-07-05  9073.942383  9162.183594  8977.015625  9126.090820  12903406143

In [7]:
# Setting the column name 'Price' to None
btc.columns = btc.columns.set_names(None)
btc.head()

                  Close         High          Low         Open       Volume
Date
2020-07-01  9228.325195  9309.754883  9104.735352  9145.985352  15971550355
2020-07-02  9123.410156  9274.962891  9036.623047  9231.139648  16338916796
2020-07-03  9087.303711  9202.344727  9058.794922  9124.842773  13078970999
2020-07-04  9132.488281  9183.295898  9053.629883  9084.233398  12290528515
2020-07-05  9073.942383  9162.183594  8977.015625  9126.090820  12903406143

In [8]:
btc.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1837 entries, 2020-07-01 to 2025-07-11
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   1837 non-null   float64
 1   High    1837 non-null   float64
 2   Low     1837 non-null   float64
 3   Open    1837 non-null   float64
 4   Volume  1837 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 86.1 KB

In [9]:
btc.shape

(1837, 5)

In [10]:
btc.to_csv("btc_data.csv")